.InstanceSummaryElement {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    font-family: sans-serif;
    box-shadow: 0 13px 25px 0 rgba(0,0,0,0.12);
    border-radius: 100px;
    padding-left:0.3rem;
}

.InstanceSummaryElement__info {
    text-align: left;
    width: 90%;
    margin-left: 10px;

}
.InstanceSummaryElement__info_header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.InstanceSummaryElement__info_timestamp{
    width:120px;
    text-align: right;
    font-size:16px;
    color:#aaaaaa;
}

.InstanceSummaryElement__title {
    font-weight: bold;
    color: #46454C;
}

.InstanceSummaryElement__desc {
    color: #3f413e;
}

.InstanceSummaryElement__title, .InstanceSummaryElement__desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
}

.InstanceSummaryElement__desc_dark {
    color: #3f413e;
}

.InstanceSummaryElement__title_light, .InstanceSummaryElement__desc_light {
    color: #dee0dd;
}

.InstanceSummaryElement__author {
    color:#F13564;
}

.InstanceSummaryElement__avatar_acronim_wrapper {
    width: 36px;
    height: 36px;
    color: #F13564;
    border-radius: 50%;
    border: 2px solid #F13564;
    display: flex;
}

.InstanceSummaryElement__avatar_acronim {
    margin: auto;
    text-transform: uppercase;
    font-weight: 700;
}
