.UserPage {
    font-family: sans-serif;
}

.UserPage .Header {
    position: fixed;
}

.UserPage .Footer {
    position: fixed;
    bottom: 0;
}


.UserPage__UserInfo {
    background-color: #F1B0C3;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.UserPage__UserInfo .avatar {
    margin-top: 1rem;
}

.UserPage__UserName {
    color: #fff;
    text-align: start;
    font-weight: normal;
    font-size: 2.5rem;
}

.UserPage__UserPhone{
    color:#fff;
}

.UserPage__UserControls > * {
    width: 100%;
    padding-top: .75rem;
    padding-bottom: .75rem; 
    font-size: 1.45rem;
    background-color: #fff;
    border: none;
}
