@keyframes appear-info {
    0% {
        position: absolute;
        left: -250px;
    }
    80% {
        position: absolute;
        left: 1%;
    }
    100% {
        position: absolute;
        left: 0;
    }
}

.UserPage {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: sans-serif;
    background: rgba(0, 0, 0, .5);
}

.UserPage__Container{
    background: #333;
    animation-name: appear-info;
    animation-duration: .7s;
    width: 250px;
    height: 100%;
}

.UserPage .Header {
    position: fixed;
}

.UserPage__UserInfo {
    background: #252323;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 15px;
}

.UserPage__UserInfo > * {
    margin: 0;
    margin-bottom: 10px;
}

.UserPage__UserName {
    color: #fff;
    text-align: start;
    font-weight: normal;
    font-size: 1.5rem;
}

.UserPage__UserPhone{
    color:#fff;
}

.UserPage__UserControls > * {
    width: 100%;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: #cdb708;
    border: none;
}
