.ChatField_right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-right: 1rem;
}

.ChatField_left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-left: 1rem;
}
