.Button {
    background-color: inherit;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 5px;
}

.Button_active {
    border-color: #cdb708;
}

.Button:focus {
    outline: none;
}

.Button__image_es {
    height: 20px;
    width: 20px;
}

.Button__image_s {
    height: 30px;
    width: 30px;
}

.Button__image_m {
    height: 64px;
    width: 64px;
}

.Button__image_l {
    height: 100px;
    width: 100px;
}

.Button_circle {
    border-radius: 50%;
}
