.ContactsListPage .UserList {
    padding-top: 50px;
    padding-bottom: 30px;
}

.ContactsListPage .Header {
    position: fixed;
}

.ContactsListPage .Footer {
    position: fixed;
    bottom: 0;
}
