.Header {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fff;
    font-family: sans-serif;
    justify-content: space-between;
    align-content: center;
}

.Header__content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header__button {
    overflow: hidden;
    width: 50px;
}

.Header__content__item {

}

.Header__content__item > * {
    margin: 0;
}

.Header__search_wrapper {
    display: flex;
}

.Header__search_input {
    border: none;
    border-radius: 80px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
    padding: 0.5rem 0.3rem;
    min-width: 200px;
}
