.Header {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fff;
    font-family: sans-serif;
    justify-content: space-between;
    align-content: center;
}

.Header__content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.Header__button {
    overflow: hidden;
    width: 50px;
}

.Header__content__item {

}

.Header__content__item > * {
    margin: 0;
}
