.ChatPage {
    display: grid;
    grid-template-rows: 155px 1fr 80px;
}

.ChatPage__MessageField {
    margin-top: 50px;
    margin-bottom: 70px;
    z-index: 1;
    position: absolute;
    width: 100%;
}

.ChatPage__Footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
}

.ChatPage__Header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.ChatPage__empty {
    height: calc(100vh - 50px - 32px);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0;
}
