.Footer {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;
}

.Footer__TextArea {
    resize: none;
    width: 100%;
    padding: 0;
    height: 30px;
    bottom: 0;
    border: 1px solid skyblue;
}

.Footer__Input {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 32px;
    border: 0;
    background-color: blue;
}
