.Footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    background-color: #333;
    box-shadow: none;
    box-sizing: border-box
}

.Footer_TextField {
    padding: 0 5px;
    background: #333;
    height: 60px;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.23);
}

.Footer__TextArea {
    border: none;
    background: #252323;
    flex-grow: 1;
    margin-left: 5px;
    resize: none;
    height: 45px;
    padding: 5px;
    color: #b3b2b2;
    padding-left: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.Footer__TextArea:focus {
    outline: none;
}

.Footer__TextArea::placeholder {
    color: #b3b2b2;
}

.Footer__SubmitButton{
    background: url('../../assets/icons/send.png') no-repeat;
    background-size: 60% 60%;
    background-position: 9px center;
}

.Footer__Emodgy{
    position: relative;
    background: url('../../assets/icons/smile.png') no-repeat;
    background-size:60% 60%;
    background-position: 9px center;
}

.Footer__Button{
    border: none;
    border: 3px solid #cdb708;
    margin: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.Footer__SubmitButton:focus{
    outline: none;
}
