.Footer {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    background-color: #ffffff;
    box-shadow: none;
    box-sizing: border-box
}

.Footer_TextField {
    background: #F13564;
    border-radius: 16px;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.23);
}

.Footer__TextArea {
    flex-grow: 1;
    margin-left: 5px;
    resize: none;
    height: 32px;
    padding: 5px;
    color: #333;
    padding-left: 10px;
    border-radius: 12px 0 0 12px;
    box-sizing: border-box;
}

.Footer__TextArea:focus {
    outline: none;
}

.Footer__TextArea::placeholder {
    color: #333;
}

.Footer__SubmitButton{
    background: url('../../assets/icons/send-active.png') no-repeat;
    background-size:70% 70%;
    background-position: center
}

.Footer__Emodgy{
    position: relative;
    background: url('../../assets/icons/smile.png') no-repeat;
    background-size:70% 70%;
    background-position: center
}

.Emodgy__Container{
    background: #ffffff;
    position: absolute;
    bottom: 45px;
    right: 0;
    width: 200px;
    height: 200px;
    border: 1px solid #F13564;
    border-radius: 10px;
}

.Footer__Button{
    border: none;
    border: 1px solid #fff;
    margin: 5px;
    background-color: #F13564;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.Footer__SubmitButton:focus{
    outline: none;
}
.Footer__SubmitButton > img{

}
