.Footer {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    background-color: #ffffff;
    box-shadow: none;
}

.Footer__TextArea {
    resize: none;
    width: 70%;
    margin: auto;
    height: 32px;
    bottom: 0;
    background: #F13564;
    border-radius: 16px;
    color: #FFFFFF;
    padding-left: 50px;
    padding-top: 5px;
    padding-right: 50px;
}

.Footer__TextArea:focus {
    outline: none;
}

.Footer__TextArea::placeholder {
    color: #FFFFFF;
}

.Footer__SubmitButton{
    background-color: #F13564;
    position: fixed;
    margin-left: 85%;
    margin-top: 5px;
}
