.ChatQuote {
    min-width: 150px;
    max-width: 700px;
    text-align: left;
    padding: 10px;
    position: relative;
    font-family: sans-serif;
    background: #333;
    border-radius: 5px;
    color: #fff;
}

.ChatQuote_left {
    margin-left: 20px;
}

.ChatQuote_right {
    font-size: 14px;
    color: rgb(37, 35, 35);
    line-height: 1.2;
    margin-right: 20px;
    background-color: #cdb708;
}

.ChatQuote_right .ChatQuote__text{
    font-weight: bold;
}

.ChatQuote__text {
    margin: 0;
    font: 16px 'Myriad Pro';
    margin-bottom: 5px;
    word-break: break-all;
}

.ChatQuote__user {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}

.ChatQuote__timestamp {
    margin: 10px 0 0 0;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: right;
}

.ChatQuote_right .ChatQuote__text, .ChatQuote_right .ChatQuote__user, .ChatQuote_right .ChatQuote__timestamp {
    color: #000;
}

.ChatQuote_left .ChatQuote__text, .ChatQuote_left .ChatQuote__user {
    color: #fff;
}

.ChatQuote_left .ChatQuote__timestamp {
    color: #ccc;
}

.ChatQuote__text__smile {
    display: inline-block;
    background: #333;
    padding: 5px;
    border-radius: 50%;
    vertical-align: baseline;
    width: 20px;
    height: 20px;
}
.ChatQuote__text__img {
    width: 100px;
    height: 100px;
}

.ChatQuote__text__link {
    color: inherit;
}
.ChatQuote__extra {
    text-align: right;
}
.ChatQuote__extra__img {
    width: 100px;
    height: 100px;
}
