.ChatQuote {
    min-width: 150px;
    max-width: 700px;
    text-align: left;
    padding: 10px;
    position: relative;
    font-family: sans-serif;
    background: #FFFFFF;
    box-shadow: 0 13px 25px 0 rgba(0,0,0,0.12);
    border-radius: 20px;
}

.ChatQuote_left {
    margin-left: 20px;
}

.ChatQuote_right {
    margin-right: 20px;
    background-color: #F13564;
}

.ChatQuote__text {
    margin: 0;
    font: 16px 'Myriad Pro';
    margin-bottom: 5px;
}

.ChatQuote__user {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.ChatQuote__timestamp {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: right;
}

.ChatQuote_right .ChatQuote__text, .ChatQuote_right .ChatQuote__user, .ChatQuote_right .ChatQuote__timestamp {
    color: #fff;
}

.ChatQuote_left .ChatQuote__text, .ChatQuote_left .ChatQuote__user {
    color: #46454C;
}

.ChatQuote_left .ChatQuote__timestamp {
    color: #F13564;
}


