.AuthorizationPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.AuthorizationPage__Select {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.AuthorizationPage__Select__button {
    height: 10vh;
    width: 40%;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    background: #F1B0C3;
    border-radius: 100px 0 0 100px;
    right: 0;
}

.AuthorizationPage__Image {
    height: 150px;
    margin-bottom: 30px;
}

.AuthorizationPage__Input {
    width: 60%;
    max-width: 500px;
    height: 7vh;
    font-size: 14px;
    color: #919EC4;
    background: #FFFFFF;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
}

.AuthorizationPage__Input:focus {
    outline: none;
}

.AuthorizationPage__submit {
    margin-top: 40px;
    width: 55%;
    max-width: 500px;
    height: 7vh;
    background: #F13564;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.12);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    margin-bottom: 90px;
    color: #FFFFFF;
}
