@keyframes input-error {
    25% {
        border-color: #cdb708;
    }
    50% {
        border-color: transparent;
    }
    75% {
        border-color: #cdb708;
    } 
    100% {
        border-color: transparent;
    }   
}

.logo{
    display: flex;
    width: 50vw;
    height: 50vw;
    max-width: 250px;
    max-height: 250px;
    border: 5px solid #cdb708;
    color: #cdb708;
    font-size: 68px;
    border-radius: 50%;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
}

.AuthorizationPage {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.AuthorizationPage__Select {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.AuthorizationPage__Select__button {
    max-width: 500px;
    height: 7vh;
    font-size: 18px;
    background: #cdb708;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #000;
}

.Auth_Container{
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #333;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
}

.Auth_Container > *{
    width: 100%;
}

.AuthorizationPage__Input {
    height: 7vh;
    font-size: 14px;
    color: #fff;
    background: #252323;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.12);
    border: 2px solid transparent;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 30px;
    box-sizing: border-box;
    animation-duration: 2s;
}

.AuthorizationPage__Input:focus {
    outline: none;
    border-color: #cdb708; 
}

.AuthorizationPage__submit {
    max-width: 500px;
    height: 7vh;
    font-size: 24px;
    font-weight: bold;
    background: #cdb708;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #000;
}
