@keyframes appear {
    from {
        top: -95px;
    }

    to {
        top: 10%;
    }
}

.Message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 65%;
    animation-name: appear;
    animation-duration: 2s;
    top: 10%;
    background: #F13564;
    color: #fff;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.12);
    border-radius: 100px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
